.app{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    min-height: 100vh;
    margin: 0 auto;
}

@keyframes Slide {
    from {
        transform: translate(-50%, -150px);
    }
    to {
        transform: translate(-50%, 0);
    }
}

@keyframes SlideOut {
    from {
        transform: translate(-50%, 0);
    }
    to {
        transform: translate(-50%, -150px);
    }
}
.alerta{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    position: absolute;
    top: 15px;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 330px;
    padding: 10px;
    border-radius: 2px;
    box-shadow: 10px 10px 15px rgba(0,0,0,0.05);
    z-index: 101;
    animation: Slide 0.5s ease forwards;
}

.alerta.success {
    border: 1px solid rgb(0, 192, 0);
    border-left: 7px solid rgb(0, 192, 0);
    background-color: rgba(198, 255, 198, 0.514);
    color: #008000;
}
.alerta.warning {
    border: 1px solid rgb(255, 165, 0);
    border-left: 7px solid rgb(255, 165, 0);
    background-color: rgba(255, 235, 195, 0.815);
    color: #b96900;
}
.alerta.error {
    border: 1px solid rgb(255, 0, 0);
    border-left: 7px solid rgb(255, 0, 0);
    background-color: rgba(255, 195, 195, 0.815);
    color: #800000;
}
.alerta img{
    width: 20px;
    height: 20px;
}
.alerta.hide {
    animation: SlideOut 0.5s ease forwards;
}
.alerta p{
    margin: 0;
}

.header{
    display: flex;
    width: auto;
    position: absolute;
    border-radius: 0px 0px 0px 30px;
    top: 0;
    right: 0;
    padding: 10px;
    gap: 10px;
    justify-content: end;
    align-items: center;
    background-color: #00488359;
    backdrop-filter: blur(25px);
    -webkit-backdrop-filter: blur(25px);
    z-index: 100;
}
@keyframes hoverOpacity {
    from {
        opacity: 0.8;
    }
    to {
        opacity: 1;
    }
}
.register{
    padding: 10px 15px;
    border-radius: 25px;
    background-color: transparent;
    cursor: pointer;
    color: #fff;
    border: 1px solid #ffffff94;
    opacity: 0.8;
}
.register:hover{
    background-color: #ffffff2a;
    border: 1px solid #fff;
    animation: hoverOpacity 0.3s ease forwards;
}
@keyframes borderColor {
    from {
        border: 1px solid #1fc495;
    }
    to {
        border: 1px solid #fff;
    }
}
.login{
    padding: 10px 15px;
    border-radius: 25px;
    background-color: #fff;
    cursor: pointer;
    background-image: linear-gradient(150deg, #1fc495 0%, #0099cc 100%);
    border: 1px solid #1fc495;
}
.login p{
    color: #fff;
    margin: 0;
}
.login:hover{
    background-image: linear-gradient(150deg, #41d1ad 0%, #009fd5 100%);
    animation: borderColor 0.4s ease forwards;
}
.chat-table{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    gap:10px;
    margin-top: 35px;
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.dark{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 41, 39, 0.377);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    z-index: 100;
    animation: fadeIn 0.3s ease forwards;
}

@media (max-width: 1100px) {
    .chat-table {
        flex-direction: column;
        align-items: center;
    }
}