.main-container{
    display: flex;
    position: relative;
    flex-direction: column;
    height: 90vh;
    width: 400px;
    padding: 0 20px 20px;
    margin: 30px auto;
    box-sizing: border-box;
    border-radius: 20px;
    background-color: #ffffff;
    box-shadow: 9px 11px 20px -10px #07134d26;
}
.header{
    display: flex;
    position: relative;
    padding: 10px 0 10px;
    align-items: center;
    height: 40px;
}
.header .titulo{
    height: 40px;
    display: flex;
    align-items: center;
    gap: 10px;
}
.titulo h3{
    background: linear-gradient(to right, rgb(5, 8, 59), rgb(19, 156, 235));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.titulo p{
    color: #009fd5;
    margin: 0;
    font-size: 15px;
}
.header .avatar{
    width: 25px;
    height: 25px;
    margin-right: 10px;
    padding: 3px;
    border-radius: 50%;
    border: solid 3px #ffffff;
    box-shadow: 1px 1px 5px 1px #00f7ffb2;
    background-color: #dcf6ff;
}
.menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 0 0 auto;
    padding: 5px;
    border-radius: 50%;
    cursor: pointer;
    width: 20px;
    height: 20px;
    z-index: 6;
    background-color: #ffffff;
}
.menu img{
    width: 20px;
    height: 20px;
}
.menu:hover{
    background-color: #f1f1f1;
}
.menu:hover img{
    filter: brightness(0) saturate(100%) invert(48%) sepia(95%) saturate(1265%) hue-rotate(165deg) brightness(91%) contrast(101%);
}
@keyframes slideDown {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
.options{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 45px;
    right: 0;
    width: 150px;
    align-items: flex-start;
    z-index: 6;
    background-color: #ffffff;
    border-radius: 8px;
    padding: 5px 10px;
    border: solid 1px #e0e0e0;
    animation: slideDown 0.2s ease-out;
}

.options .par{
    display: flex;
    align-items: center;
    padding: 5px;
    border-radius: 5px;
    z-index: 6;
    cursor: pointer;
    gap: 5px;
    transition: background-color 0.2s ease;
}
.options .par:hover{
    background-color: #f1f1f1;
}
.options .par:hover p{
    color: #00bfff;
}
.options .par img{
    width: 15px;
    height: 15px;
}
.options .par p{
    margin: 0;
    color: #009fd5;
    font-size: 12px;
}
@keyframes infoSlide {
    from {
        opacity: 0;
        transform: translate(-50%, -20px);
    }
    to {
        opacity: 1;
        transform: translate(-50%, 0);
    }
}
.info-container{
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 30%;
    z-index: 10;
    width: 200px;
    height: auto;
    padding: 15px 10px 10px;
    text-align: center;
    border: solid 1px #e0e0e0;
    border-radius: 20px;
    background-color: #ffffff;
    animation: infoSlide 0.2s ease-out;
}
.info-container .title{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: 13px;
    font-weight: 700;
    font-size: 13px;
    margin-bottom: 5px;
}
.info-container .title .close{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: -5px;
    top: -10px;
    cursor: pointer;
    border-radius: 50%;
    width: 20px;
    height: 20px;
}
.info-container .title img{
    width: 10px;
    height: 10px;
}
.info-container .title .close:hover{
    background-color: #f1f1f1;
}
.info-container .title .close:hover img{
    filter: brightness(0) saturate(100%) invert(48%) sepia(95%) saturate(1265%) hue-rotate(165deg) brightness(91%) contrast(101%);
}
.info-container p{
    margin: 0px;
    font-size: 11px;
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 0.3;
    }
}
.dark{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #003634c4;
    opacity: 0;
    z-index: 4;
    border-radius: inherit;
    animation: fadeIn 0.3s ease forwards;
}

.msg-container{
    display: flex;
    height: 100%;
    margin-right: -15px;
    flex-direction: column;
    padding-right: 5px;
    overflow-y: scroll;
    position: relative;
}
.msg-container::-webkit-scrollbar {
    width: 8px; 
}
.msg-container::-webkit-scrollbar-thumb {
    background-color: rgba(0, 159, 213, 0.5); 
    border-radius: 4px; 
}
.msg-container::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 159, 213, 0.8); 
}
.msg-container::-webkit-scrollbar-track {
    background: rgba(0, 159, 213, 0.1); 
}
.sin-msj{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin-top: 15px;
}
.sin-msj .chatbot{
    margin-top: 10px;
    width: auto;
    height: 70px;
}
.welcome-title{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    font-size: 20px;
    font-weight: 600;
}
.welcome-title h4{
    font-size: 22px;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
.welcome-title .iazul{
    background-image: linear-gradient(150deg, #41d1ad 0%, #006b8f 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.sin-msj p{
    opacity: 0.6;
    margin: 0;
    font-size: 15px;
}
.suggestions{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    width: 100%;
    margin: 10px;
}
.suggestions p{
    display: inline-block;
    margin: 0;
    padding: 4px 10px;
    border: 1px solid #009fd5;
    color: #009fd5;
    border-radius: 10px;
    opacity: 1;
    width: auto;
    max-width: 80%;
    text-align: center;
    cursor: pointer;
}
.suggestions p:hover{
    background-image: linear-gradient(150deg, #41d1ad 0%, #009fd5 100%);
    color: #ffffff;
    transition: background-color 0.3s ease;
    border: 1px solid #ffffff;
}
.fecha {
    height: 20px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.fecha hr {
    margin: 0;
    border: none;
    width: 90%;
    height: 1px;
    background-color: #e0e0e0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.fecha p {
    color: #b6b6b6;
    font-size: 11px;
    text-align: center;
    background-color: #ffffff;
    display: inline-block;
    white-space: nowrap;
    padding: 0 20px;
    z-index: 1;
}
.consulta{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: right;
}
.consulta p{
    color: #009fd5;
    font-size: 12px;
    margin: 3px 5px 0 auto;
}
.msg{
    display: inline-block;
    width: auto;
    padding: 5px 10px;
    border-radius: 15px 15px 3px 15px;
    color: #ffffff;
    background-image: linear-gradient(150deg, #41d1ad 0%, #009fd5 100%);
    align-self: flex-end
}
.respuesta{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 15px;
}
.respuesta .p{
    width: 80%;
    padding: 5px 10px 5px 15px;
    border-radius: 5px;
    background-color: #ffffff;
    box-shadow: 1px 1px 5px 0px rgb(178 232 229 / 65%);
    border: solid 1px rgba(224, 224, 224, 0.781);
}
.respuesta p{
    margin: 0;
}
.respuesta .img{
    display: flex;
    width: 35px;
    height: 35px;
    opacity: 0.6;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.respuesta img{
    width: 20px;
    height: 20px;
}
.respuesta:hover .img {
    opacity: 1; 
}
.respuesta .img:hover {
    transition: transform 0.2s ease, opacity 0.2s ease;
    background-color: #f1f1f1;
}
.respuesta .img:hover img {
    filter: brightness(0) saturate(100%) invert(48%) sepia(95%) saturate(1265%) hue-rotate(165deg) brightness(91%) contrast(101%);
}
@keyframes carga {
    0% {
        background-position: -100%;
    }
    100% {
        background-position: 100%;
    }
}
.pensando {
    margin-bottom: 15px;
    font-weight: bold; /* Opcional: puede hacer que el texto sea más grueso */
    background: linear-gradient(90deg, #c5c5c5 25%, #e2e2e2 50%, #c5c5c5 75%);
    background-size: 200% 100%;
    color: transparent;
    background-clip: text; /* Hace que el gradiente se aplique solo al texto */
    animation: carga 0.8s infinite linear; /* Animación: duración, tipo de animación */
}
.pensando p{
    width: 80%;
    margin: 0;
    padding: 5px 10px 5px 15px;
    border-radius: 5px;
    box-shadow: 1px 1px 5px 0px rgb(178 232 229 / 65%);
    border: solid 1px rgba(224, 224, 224, 0.781);
}
.input-container {
    display: flex;
    align-items: center;
    margin-top: 10px;
    justify-content: space-between;
    gap: 10px;
}
textarea {
    min-height: 35px;
    max-height: 100px;
    resize: none;
    field-sizing: content;
    flex: 1;
    min-width: 0;
    padding: 5px 15px 7px;
    border-radius: 15px;
    font-size: 16px;
    color: #111111;
    border: solid 2px #e0e0e0;
    box-sizing: border-box;
}
textarea::placeholder {
    color: #a7a7a7;
}
textarea:focus {
    outline: none;
    border-color: #00a0d57c;
}
@keyframes escuchando {
    0% {
        background-position: -100%;
    }
    100% {
        background-position: 100%;
    }
}
.escuchando{
    font-weight: bold;
    background: linear-gradient(90deg, #3d71ff 25%, #6feeff 50%, #3d71ff 75%);
    background-size: 200% 100%;
    color: transparent;
    background-clip: text; /* Hace que el gradiente se aplique solo al texto */
    animation: escuchando 0.8s infinite linear; /* Animación: duración, tipo de animación */
}
.input-container .img{
    display: flex;
    align-items: center;
    height: 35px;
}
.button {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    background-image: linear-gradient(150deg, #41d1ad 0%, #009fd5 100%);
    box-sizing: border-box;
}
.button:hover {
    background-image: linear-gradient(150deg, #2ad4aa 0%, #00bfff 100%);
}
@media (max-width: 1100px) {
    .main-container{
        width: calc(80% - 60px);
    }
}
@media (max-width: 500px) {
    .main-container{
        width: calc(100% - 30px);
    }
    .header .titulo h4{
        font-size: 15px;
    }
    .header .titulo p{
        font-size: 12px;
    }
    .consulta, .respuesta, textarea{
        font-size: 11px;
    }
    textarea{
        padding: 8px 10px 5px 10px;
    }
    .welcome-title h4{
        font-size: 18px;
    }
    .sin-msj p{
        font-size: 12px;
    }
    .suggestions p{
        font-size: 12px;
    }
}
@media (max-width: 400px) {
    .header .titulo p{
        display: none;
    }
}